# Solutions for Topic 7 "Neo4j" *PART 2*  Exercise Sheet

_Note: Cell Language is set to Python and does not does connect to any data source._

Show each movie node for movies that were released between 2000 and 2010

In [ ]:
MATCH(m:Movie) WHERE m.released >= 2000 AND m.released <= 2010 RETURN m

Set an attribute called olderThan70 to true for all Persons born in the 1930s

In [ ]:
MATCH(p:Person) WHERE p.born >= 1930 AND p.born <= 1939 SET p.olderThan70 = true

Show the movie title and the year it was released for the first 10 movies in
alphabetical order.

In [ ]:
MATCH(m:Movie) RETURN m.title, m.released
ORDER BY m.title LIMIT 10

Show the unique years in which movies were released in chronological order

Show the title and tagline for movies released in 1999.

In [ ]:
MATCH(m:Movie {released:1999}) RETURN m.title, m.tagline

Show the names of the people (as People) and the year they were born (as YOB)
for everyone older than “Robin Williams”.

In [ ]:
MATCH(rw:Person {name: "Robin Williams"})  
WITH rw.born AS RW_BORN 
MATCH(p:Person) 
WHERE p.born < RW_BORN 
RETURN p.name AS People, p.born AS YOB

Show the number of movies released in 2006 (as Releases_in_2006).

In [ ]:
MATCH(m:Movie{released: 2006}) RETURN COUNT(m) AS Releases_in_2006

Show the name (as Name) and born (as YOB) the youngest Person(s).

In [ ]:
MATCH(p:Person) 
WHERE p.born IS NOT NULL
RETURN p.name AS Name, p.born AS YOB
ORDER BY p.born DESC
LIMIT 1;