# Solutions for Topic 4 Exercise Sheet

_Note: Cell Language is set to MSSQL and does connect to any data source. SQL generated on 2425-AppDB machine with garage database.</br>
Comment are in MS SQL Format "--"_

1. Get garage.sql from Moodle and import it into MySQL.

Done ...

2. How are the tables in the database related?

The **vehicle** Table has a foreign key [_manu_code_] that references **manufacturer** table's primary Key [_manu_code_]. These fields are of type varchar(3)

3. Show the manu_code, manu_name and the first 10 characters of the manu_details followed
by three dots (…) for each manufacturer.

In [ ]:
USE garage;

SELECT manu_code, manu_name, CONCAT(SUBSTRING(manu_details, 1,10), '...')
FROM manufacturer;

4. Show the average length of the manu_name (displayed as “Length”) with 0 characters after
the decimal point.
HINT: Functions needed are avg(), length() and format().

In [ ]:
USE garage;

SELECT FORMAT(AVG(LENGTH(manu_name)),0) AS 'Length'
FROM manufacturer;

5. Show all details of all vehicles plus an extra column called “cost” which has the value 1.45 if
the fuel is petrol otherwise has the value 1.30.

In [ ]:
USE garage;

SELECT v.*, IF(fuel = 'petrol', 1.45, 1.3) AS 'cost'
FROM vehicle v;

6. Show all the reg, manu_code and associated manu_name for each vehicle.

In [ ]:
USE garage;

SELECT v.reg, v.manu_code, m.manu_name
FROM vehicle v LEFT OUTER JOIN manufacturer m
ON v.manu_code = m.manu_code;

7. Show the manu_code and manu_name as well as associated reg, for each manufacturer who
has vehicles listed in the vehicle table.

In [ ]:
USE garage;

SELECT m.manu_code, m.manu_name, v.reg
FROM manufacturer m INNER JOIN vehicle v
ON m.manu_code = v.manu_code;

8. Show the manu_code and manu_name as well as associated reg, for all manufacturers and if
they have vehicles listed in the vehicle table, show the reg of it.

In [ ]:
USE garage;

SELECT m.manu_code, m.manu_name, IF(v.reg IS NOT NULL, v.reg, '') AS 'reg' --Do not display "NULL"
FROM manufacturer m LEFT JOIN vehicle v
ON m.manu_code = v.manu_code;

9. Write a stored procedure called price_less_than that takes one parameter of type
decimal(8,2) which represents the price of a vehicle:
price_less_than(p decimal(8,2))
The procedure should then return the following details for all vehicles where the price of the
vehicle is less than p sorted by ascending price:
• Reg
• Manu_code
• Manu_name
• Mileage
• Price

In [ ]:
DELIMITER //
CREATE PROCEDURE price_less (IN test_amt INT)
BEGIN
	SELECT v.reg AS 'Reg', v.manu_code AS 'Manu_code', m.manu_name AS 'Manu_name', v.mileage AS 'Mileage', v.price AS 'Price'
	FROM vehicle v INNER JOIN manufacturer m
	ON v.manu_code = m.manu_code
	WHERE price < test_amt 
	ORDER by price ASC;
END //

DELIMITER ;