# Solutions for Topic 7 "Neo4j" *PART 1*  Exercise Sheet

_Note: Cell Language is set to Python and does not does connect to any data source._

Create the following nodes with a label :Student with the following properties:</br>
*(as per exercise sheet)*</br></br>
Create the following nodes with a label :Lecturer with the following properties:</br>
*(as per exercise sheet)*</br>

In [ ]:
CREATE(:Student{name: "Tom", sid: "G001", age: 23, sex: "M", address: "Galway", hair: "brown", email: "tom@gmail.com"});
CREATE(:Student{name: "Sean", sid: "G002", age: 19, sex: "M", address: "Galway", email: "sean@gmail.com"});
CREATE(:Student{name: "Bob", sid: "G003", age: 22, sex: "M", address: "Mayo", email: "bob123@hotmail.com", twitter: "@bob123"});
CREATE(:Student{name: "Mary", sid: "G004", age: 20, sex: "F", address: "Mayo", hair: "blonde", email: "mary19@gmail.com", twitter: "@mary19", snapchat: "mary19"});
CREATE(:Student{name: "Alice", sid: "G005", age: 28, sex: "F", address: "Roscommon", email: "alice@hotmail.com", snapchat: "alice123"});
CREATE(:Student{name: "Pat", sid: "G006", age: 24, sex: "M", address: "Roscommon", email: "pat@hotmail.com", twitter: "patABC"});

CREATE(:Lecturer{name: "Alan", sid: "L001", age: 57, sex: "M", address: "Galway", email: "alan@gmit.ie",, twitter: "@alan"});
CREATE(:Lecturer{name: "Mary", sid: "L002", age: 47, sex: "F", address: "Mayo", email: "mary@gmit.ie", hair: "brown"});

Find the average age of Students, rounded to the nearest whole number.

In [ ]:
MATCH (s:Student) RETURN round(avg(s.age))

Show the name of each student and his/her age.

In [ ]:
MATCH (s:Student) RETURN s.name, s.age

Find the age of the youngest Student.

In [ ]:
MATCH (s:Student) 
WITH min(s.age) AS minAge
MATCH (s:Student{age:minAge}) 
RETURN s.name AS student_name, s.age AS age

Show the names of students who have a twitter attribute

In [ ]:
MATCH (s:Student {}) WHERE EXISTS(s.twitter) RETURN s.name;

Show the number of students who have a twitter attribute.

In [ ]:
MATCH (s:Student {}) WHERE EXISTS(s.twitter) RETURN s.name;

Show the average of age of people in their 20s, 30s and 40s rounded to one decimal
place.

In [ ]:
MATCH (s) 
WITH s, CASE
    WHEN s.age >= 20 AND s.age < 30 THEN '20'
    WHEN s.age >= 30 AND s.age < 40 THEN '30'
    WHEN s.age >= 40 AND s.age < 50 THEN '40'
    ELSE 'Other'
END AS ageGroup
WHERE s.age IS NOT NULL
RETURN ageGroup, round(s.age,1)

Show all the properties for the Student Tom

In [ ]:
MATCH (s:Student {name:"Tom"}) RETURN s;

Increase everyone’s age by 1.

In [ ]:
MATCH (s) SET s.age = s.age + 1 RETURN s;

Return the name and age of all males living in Galway.

In [ ]:
MATCH (n {address: "Galway", sex: "M"}) RETURN n.name, n.age;

Create the following nodes with both :Student and :Lecturer labels

In [ ]:
CREATE (n:Student:Lecturer {name: “Yvonne”, age: 37, sex: “F”, address: “Galway”, email: "yvonne@gmit.ie",twitter: “@yv12”});
CREATE (n:Student:Lecturer {name: “Walter”, age: 44, address: “Galway”, email: "walter@gmit.ie", hair: “black”});

Show the name, age and hair colour of everyone who is both a Student and a
Lecturer.

In [ ]:
MATCH (n:Student:Lecturer) RETURN n.name, n.age, n.hair;

Update the twitter attribute of all lectures to have GMIT after their existing twitter name.
E.g. “@alan” should become “@alanGMIT”.

In [ ]:
MATCH (n:Lecturer) WHERE n.twitter IS NOT NULL RETURN n.twitter + 'GMIT';

Find the average age of Males and find the youngest Male(s).</br>
Then return the name (as Name) and age (as Age) of the youngest Male(s) as well as</br>
the average age of Males (as AverageAge) and the difference in age between the</br>
youngest Male(s) and the average age (as Difference).</br></br>
E.g., If the average age of Males was 30, and the youngest Male was called “Tony”</br>
aged 20, the following should be returned:</br></br></br>

| Name | Age | AverageAge | Difference|
| --- | --- | --- | --- |
| Tony| 20 | 30 | 10|

In [ ]:
MATCH(s:Student{sex:"M"}) 
WITH avg(s.age) AS avgAge
MATCH(ss:Student{sex:"M"})
RETURN ss.name,ss.age, avgAge, abs(ss.age - avgAge) AS Difference
ORDER BY ss.age ASC
LIMIT 1;